.statistics {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.title {
  display: block;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;

  background-color: #ffffff;
  text-align: center;
  color: rgb(107, 107, 243);
}
.list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  list-style: none;
}

.item {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 15px 0px;
}
.item span:first-child {
  margin-bottom: 10px;
  font-size: 14px;
}
